@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f2f7;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    transition: all 0.3s;
    display: block;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
    margin-left: 0;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul li a div {
    display: none;
}

#sidebar .sidebar-header {
    color: #fff;
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul li a {
    margin-top: 10px;
}


#sidebar ul li a {
    color: #6d7fcc;
    margin-left: 15px;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a div {
    display: inline-block;
}

#sidebar ul li a:hover {
    color: #8b9ef2;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li a i {
    margin-right: 10px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#uploadMsgSuccess {
    display: none;
}

#uploadMsgFail {
    display: none;
}

#parserMsgSuccess {
    display: none;
}

#parserMsgFail {
    display: none;
}

#parserSetInfo:hover {
    color: gray;
    cursor: pointer;
}

#progressBar {
    display: none;
}

#visCanvas {
    width: 1000px;
    height: 1000px;
}

/* ---------------------------------------------------
    MEDIAQUERIES Code for mobile phones
-----------------------------------------------------

@media (max-width: 768px) {

}

 */